.app-container {
  width: 100%;
  min-height: 100vh;
}

.whatsapp-float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

.whatsapp-float:hover {
  transform: scale(1.1);
  background-color: #128C7E;
  box-shadow: 2px 2px 15px rgba(37, 211, 102, 0.5);
}

@media screen and (max-width: 768px){
  .whatsapp-float{
    width: 50px;
    height: 50px;
    bottom: 20px;
    right: 20px;
  }
}
